<h3>Testing a form!</h3>
<form action="/form" method="post">
  <input type="text" name="message">
  <input type="submit">
</form>
<h1>Testing a form two!</h1>
<form action="/form" method="post">
  <input type="text" name="message">
  <input type="submit">
</form>
